.productWrapper{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 110px;
  margin-bottom: 310px;
}
.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 1px black solid;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  transition: 0.5s;
  background-color: white;
  position: relative;
  
}
.productItem:hover {
  scale: 1.1;
  transition: 0.5s;
  margin-top: -15px;
  box-shadow: 1px 1px 16px 3px;
  z-index: 5;
  
}
.imageItem {
  width: 150px;
  height: 130px;
  object-fit: contain;
  margin-top: 10px;
  
}
.nameItem{
  margin-top: 10px;
  background-color: rgb(221, 241, 71);
  padding: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden ;
  cursor: default;
  margin: 5px;
}
.nameItemDiscount{
  margin-top: 10px;
  background-color: rgb(221, 241, 71);
  padding: 5px;
  font-size: 15px;
  font-family: sans-serif;
  overflow-y: hidden ;
  cursor: default;
  margin: 5px;
  text-decoration: line-through;
}
.cartButton{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 30px;
  border-radius: 10%;
  padding: 5px;
  cursor: pointer;
  background-color:  rgba(221,241,71);
  transition: 0.3s;
}
.cartButton:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  width: 300px;
  padding: 5px;
  cursor: pointer;
  background-color:  rgb(153, 245, 135) ;
  transition: 0.3s;
  box-shadow: 1px 1px 10px 2px inset;
}
.priceContainer {
  display: flex;
  justify-content: center;
  width: 350px;
}
.stockMany{
  position: absolute;
  right: 10px;
  top: 2px;
  background-color: greenyellow;
  border-radius: 10%;
  cursor: default;
}
.stockLittle{
  position: absolute;
  right: 10px;
  top:2px;
  background-color: rgb(245, 74, 82);
  border-radius: 10%;
  cursor: default;
}
.stockMidle{
  position: absolute;
  right: 10px;
  top:2px;
  background-color: rgb(255, 223, 39);
  border-radius: 10%;
  cursor: default;
}

.errMsg{
  background-color: rgb(255, 0, 0, 0.5);
  border-radius: 25px;
  padding: 15px;
  font-size: 20px;
}
.sale {
  position: absolute;
  top: -12px;
  left: 5px;
  background-color: blueviolet;
  padding: 5px;
  border-radius: 25px;
  cursor: default;
  font-weight: bolder;
  font-family: sans-serif;
}
.addModal{
  position: fixed;
  border-radius: 25px;
  border-top-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  right: 220px;
  width: 250px;
  height: 55px;
  background-color: rgb(212, 41, 61);
  z-index: 5;
  color: white;
}
.selectSort{
  position: fixed;
  top: 120px;
  left: 20px;
}