.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    margin-top: 230px;
    bottom: 190px;
}
.imageWrapper{
    
    width: 500px;
    height: 500px;
    flex-basis: 60%;
    margin: 10px;
}
.itemImg{
    width: 500px;
    height: 500px;
    object-fit: contain;
}


.descriptionWrapper{
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    padding: 20px;
}
.description{
    box-shadow: 1px 1px 15px 2px gray;
    background: rgb(44,255,0);
    background: linear-gradient(45deg, rgba(44,255,0,1) 25%, rgba(221,241,71,1) 75%);
    border-radius: 20px;
    min-width: 500px;
}
.currentDescription{
    line-height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid black;
    
}
.stock{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    border-bottom: 1px solid black;
}
.weight{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    border-bottom: 1px solid black; 
}
.price{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    border-bottom: 1px solid black;
}
.wrapperButton{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.cartButton{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 10%;
    padding: 5px;
    cursor: pointer;
    background-color:  rgba(221,241,71);
    border: 1px solid black;
    transition: 0.3s;
    margin-left: 20px;
}
.cartButton:hover{
    transition: 0.3s;
    box-shadow: 1px 1px 10px 2px inset;
}
.feedbackWrapper{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    background: linear-gradient(45deg, rgba(44,255,0,1) 25%, rgba(221,241,71,1) 75%);
    margin: 2px;
    min-width: 500px;
    max-width: 1500px;
    transition: 1s;
}
.feedback {
    display: flex;
    justify-content: space-between;
    
}
.feedbackWrapper:hover {
    display: flex;
    justify-content: space-between;
    scale: 1.01;
    transition: 1s;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    text-align: center;
    margin: 5px 0px 5px 20px;
    padding: 5px;
}
.message{
    display: flex;
    justify-content: center;
    cursor: default;
}
.likesWrapper{
    display: flex;
    justify-content: flex-start;
    cursor: default;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid black;
}
.like{
    cursor: default;
    margin: 0px 0px 10px 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
}
.likeNum{
    font-size: 15px;
}

.rate {
    margin-right: 15px;
}
@media(max-width:1030px) {
    .descriptionWrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 40%;
        padding: 20px;
    }
    .cartButton{
        margin: 10px;
    }
}